* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.nav-bar {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: brown; */
}
.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main-logo {
    position: relative;
    left: 30px;
    cursor: pointer;
}
.nav-course h4 {
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    width: 130px;
    text-align: center;
    padding: 7px 10px;
    position: relative;
    left: 50px;
    top: 10px;
    cursor: pointer;
    color: #5a4bda;
    line-height: 1.5;
}
.nav-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 75px;
}
.nav-detail h4 {
    margin-right: 20px;
    cursor: pointer;
    color: #5a4bda;
}
.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.store {
    height: 80px;
    width: 200px;
    cursor: pointer;
}
.login {
    height: 45px;
    width: 150px;
    border-radius: 7px;
    padding: 7px 10px;
    background-color: #5a4bda;
    border: 1px solid #5a4bda;
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 17px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.hero {
    height: 350px;
    width: 100%;
}
.hero1 {
    height: 430px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mobile-hero {
    height: 500px;
    width: 85%;
    background-color: brown;
    position: relative;
    left: 100px;
    top: -25px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.hero-des {
    position: relative;
    top: 50px;
    left: 30px;
    line-height: 60px;
}
.hero-des h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
#learn {
    margin-bottom: 0;
}
.hero-des h3 {
    font-size: 20px;
    margin-left: 5px;
}
.number {
    position: relative;
    top: 70px;
    left: 25px;
}
.num {
    font-size: 25px;
}
.numm {
    height: 35px;
    width: 300px;
    border: none;
    outline: none;
    position: relative;
    top: -3px;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; */
    border-radius: 10px;
}

.sir-mobile {
    height: 420px;
    width: 400px;
    position: relative;
    top: 40px;
    right: 20px;
}

